# Explicitly declare Go and Python as main languages
*.go linguist-language=Go
*.py linguist-language=Python

# Prevent frontend files from skewing the language stats
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.json linguist-detectable=false
*.md linguist-detectable=false
